Last login: Tue May 28 14:06:35 on ttys000
ezechielkouassi@Ezechiels-MacBook-Pro ~ %
mkdir my_project
cd my_project
git init
echo "#DFS Exercise-1 >> README.md
git add README.md
git add .
git commit -m "DFS Exercise-1"
git status
git log
